## FOUNDRY ##
# Change to production for ir and higher optimizer runs
FOUNDRY_PROFILE=

## DEPLOYER ##
# Change to your own private key and address
# Below is anvil default account 0
DEPLOYER_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
DEPLOYER_ADDRESS=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266

## API KEYS ##
# Need to login to get the actual RPC URL and API key
RSK_TESTNET_RPC_URL=https://dashboard.rpc.rootstock.io/login
RSK_TESTNET_API_KEY=